
:root {
	--green: rgba(77,256,0,0.1);
	--blue: rgba(0,170,255,0.1);
	--orange: rgba(255,136,0,0.1);
	--red: rgba(255,30,0,0.1);
	--homecolor: #000F1E;
}

.ca2-calendar-container {
  max-width: 900px;
  margin: 0 auto;
  background: #F6F6F6;
  border-radius: 10px;
  padding: 20px;
}

.ca2-controls h2 {
  text-align: center;
  font-size: 18px;
  color: #333;
}

.ca2-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ca2-week {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin: 20px 0px 20px 0px;
}

.ca2-day {
  width: 14%;
  padding: 20px 5px 20px 5px;
  text-align: center;
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  font-weight: bold;
  font-size: 13px;
  color: #555;
}

.ca2-task-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.ca2-task {
  border-radius: 5px;
  margin: 5px;
  padding: 10px 0px 10px 0px;
}

.en-cours {
  background-color: #00B6FF;
}

.termine {
  background-color: #00FF65;
}

.arret {
  background-color: #FF0001;
}
.en-attente {
  background-color: #767777;
}

.ca2-controls button {  
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 20px 15px 20px;
  text-align: center;
  font-size: 13px;
  margin: 0 10px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ca2-controls button:hover {
  background-color: #45a049;
}

.ca2-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}