body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

.ch-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.ch-days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.ch-day {
    border: 2px solid #ddd;
    overflow: auto;
    padding: 10px 2px 5px 2px;
    position: relative;
    border-radius: 10px;
    height: 120px;
}

.ch-task {
    margin-top: 5px;
    padding: 7px 5px 6px 5px;
    border-radius: 3px;
}
