<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'xapp/dist/css/light-mode.css' %}" />
    <link rel="stylesheet" href="{% static 'xapp/dist/css/x-css.css' %}" />
    <link rel="stylesheet" href="{% static 'xapp/dist/css/x-app.css' %}" />
    <link rel="stylesheet" href="{% static 'xapp/dist/font/font.css' %}" />
    <link rel="stylesheet" href="{% static 'xapp/dist/fontawesome/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/init.css' %}">

    <title>Initialisation de mots de passe - Gestion de projet</title>
</head>
<body>

    <form action="">
        {% csrf_token %}
    </form>

    <div id="test" class="x-shadow xbora15 x-center xmato90">
        <h1 class="xtealce">Initialiser votre mots de passe</h1>
        
        <div class="init-container xmato40">
        </div>
    </div>
    
    <script src="{% static 'xapp/dist/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'xapp/dist/js/x-app.js' %}"></script>
    <script src="{% static 'xapp/dist/react/umd/react.production.min.js' %}"></script>
    <script src="{% static 'xapp/dist/react-dom/umd/react-dom.production.min.js' %}"></script>
    <script src="{% static 'xapp/dist/prop-types/prop-types.js' %}"></script>
    <script src="{% static 'xapp/dist/js/x-composants.production.js' %}"></script>
    <script src="{% static 'js/init-jsx.production.js' %}"></script>
</body>
</html>