<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'xapp/dist/css/light-mode.css' %}" />
    <link rel="stylesheet" href="{% static 'xapp/dist/css/x-css.css' %}" />
    <link rel="stylesheet" href="{% static 'xapp/dist/css/x-app.css' %}" />
    <link rel="stylesheet" href="{% static 'xapp/dist/font/font.css' %}" />
    <link rel="stylesheet" href="{% static 'xapp/dist/fontawesome/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/password-init.css' %}">

    <title>Reinitialisation de mots de passe | Gestion de projet</title>
</head>
<body>

    <form action="" class="fake-form">
        {% csrf_token %}
    </form>
    
    <div class="lost-password xmato90 xpa20 xbora10 x-center">

    </div>

    <a href="{% url 'app:home' %}" id="auth-me"></a>

    
    <script src="{% static 'xapp/dist/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'xapp/dist/js/x-app.js' %}"></script>
    <script src="{% static 'xapp/dist/react/umd/react.production.min.js' %}"></script>
    <script src="{% static 'xapp/dist/react-dom/umd/react-dom.production.min.js' %}"></script>
    <script src="{% static 'xapp/dist/prop-types/prop-types.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'xapp/dist/js/x-composants.production.js' %}" ></script>
    <script src="{% static 'js/password-init-jsx.production.js' %}"></script>
</body>
</html>